{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Item</title>
  </head>
  <body>
    <h1>Item {{id}}</h1>
    <button
      id="buy-button"
      data-item-id="{{ id }}"
      data-stripe-key="{{ stripe_publishable_key }}"
    >
      Buy
    </button>
  </body>

  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'catalog/checkout.js' %}" ;></script>
</html>
